@import url('https://fonts.googleapis.com/css?family=Palanquin');

*{
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
}
.fondo{
    background-color: white;
}
.container.section .slider .slides{
    position: relative;
   
}
.slider .slides li img{
    position: relative;
    margin-top: 64px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.slider {
    position: relative;
    height: 400px;
    width: 100%;
    z-index: 1;
    animation-duration: 9.9s;
}
.slider h3{
    color: #0F1D2E;
}
.grey-text{
    color: #0F1D2E;
}
.info p{
    margin-top: 40px;
    color:#0F1D2E ;
    font-family: 'Palanquin', sans-serif;
    padding: 20px;
}
.re_info{
    width: 127px;
    height: 33px;
    border: 2px solid red;
    display: inline-block;
    border-radius: 10px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.664);
    margin-left: 20px;
    padding: 3px;

}
.booking-form .input-wrap input {
    margin: 0;
    min-width: 15em;
    font-size: .875em;
    padding: .75em;
    letter-spacing: .142em;
    
}
.datepicker{
    border: 3px solid red;
}

.fecha .row{
    width: 135%;
    margin-left: -48px;
    display:inline-block;
}
   
.fecha .row .material-icons{
    margin-top: 22px;
    color: #0F1D2E;
    margin-left: 3px;

}
.telef{
    margin-left: -338px;
    margin-top: 17px;
    color: #0F1D2E;
}

.fecha .row .btn {
    margin-top: 1%;
    margin-left: -162px;
    width: 127px;
    height: 40px;
    border: 2px solid #0F1D2E;
    background-color: #0F1D2E;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 0px;
}

