@import url('https://fonts.googleapis.com/css?family=Palanquin');

*{
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
}
.fondo{
    background-color: white;
}
.slider .slides{
    position: relative;
    height: 540px !important;
}
.slider .slides li img{
    position: relative;
    margin-top: 64px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.slider {
    position: relative;
    height: 400px;
    width: 100%;
    z-index: 1;
    animation-duration: 9.9s;
}
.slider h3{
    color: #0F1D2E;
}


.arrowright i, .arrowleft i{
    color: rgb(255, 255, 255);
}   
.arrowright, .arrowleft{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}

.indicators{
    z-index: 2;
    color: #0F1D2E;
}

.arrowleft{
    left: 80px;
    top: -15%;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    z-index: 2;
    transform: translateX(-80px);
} 
.arrowright{
    right: 80px;
    top: -15%;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    z-index: 2;
    transform: translateX(80px);
    
}   
.slider:hover .arrowright, .slider:hover .arrowleft{
    opacity: 1;
    transform: translateX(0);
    
}
.grey-text{
    color: #0F1D2E;
}
.info p{
    margin-top: 40px;
    color:#0F1D2E ;
    font-family: 'Palanquin', sans-serif;
    padding: 20px;
}
.re_info{
    width: 127px;
    height: 33px;
    border: 2px solid red;
    display: inline-block;
    border-radius: 10px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.664);
    margin-left: 20px;
    padding: 3px;

}
.fecha{
    margin-bottom: 20px;
}
.fe{
   border: solid 2px #0F1D2E;
   margin-left: 183px;
}
.fecha .inp{
    margin-top: 10px;
}
.fecha .t{
    margin-top: 10px;
}
 .fecha .inp input{
    width: 32%;
    display:inline-block;
} 
.fecha .t i{
    color: #0F1D2E;
    margin: 15px 5px;
}
.fecha .t p{
    margin: 7px 20px 0 0;
}
.fecha .row .btn1 {
    width: 127px;
    height: 40px;
    border: 2px solid #0F1D2E;
    background-color: #0F1D2E;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 7px 30px;
}
.icon_servicios .responsive-img {
    width: 8%;
    margin-left:10%; 
}
.icon_servicios .tser{
    font-size: 14px;
    color: #0F1D2E;
    font-weight: bold;
    font-family: 'Palanquin', sans-serif;
}

/*pc grande*/

@media only screen and (min-width:1200px){
    .container.section{
        width: 70%;
    }
    .info{
        width: 70%;
        
    }
    .info p{
    text-align: justify;
    margin-left: 0px;
    margin-right: -360px;
    }
}


@media only screen and (min-width:992px)and (max-width:1199px){
    .container.section{
        width: 70%;
    }
    .info{
        width: 70%;  
    }
    .info p{
        text-align: justify;
       margin-left:-30px;
        margin-right: -363px;
    }
}

@media only screen and (min-width:600px) and (max-width:992px){
    .container.section{
        width: 90%;
    }
    .info{
        width: 90%;
        
    }
    .info p{
        text-align: justify;
        margin-left: 30px;
        margin-right: -30px;
    }
}

@media only screen and (max-width:600px){
    .container.section{
        width: 90%;
    }
    .info{
        width: 90%;
        
    }
    .info p{
        text-align: justify;
        margin-left: 40px;
        margin-right: 0px;
    }
}