@import url('https://fonts.googleapis.com/css?family=Palanquin');
*{
    font-family: 'Palanquin', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #273c75;
}
.texto{
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.iconos-form{
    position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #bdc3c7;
    color: #fff;
}

.cajas2{
    width: 80% !important;
    height: auto;
    position: absolute;
    top: 0;
    border-bottom: none !important;
    color: #fff;
}
input:focus{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.caja{
    margin-top: 0;
    margin-left: 35%;
    margin-bottom: 2%;
    border: solid 1px #bdc3c7;
    border-radius: 10px;
    width: 29%;
    height: 50px;
    position: relative;
}