@import url('https://fonts.googleapis.com/css?family=Palanquin');

*{
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
}
.fondo{
    background-color: #273c75;
}
.imglogin{
    width: 9%;
    margin-left: 45%;
    margin-bottom: 25px;
}
.completo{
    width: 100%;
    height: 100%;
}
.sinPadding{
    padding: 0 !important;
}
.texto{
    margin: 100px 0 50px 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.inputs a.registro{
    display: block;
    margin-top: 7px;
    transition: .3s;
}
.inputs a.registro:hover{
    color: tomato;
}

.iconos-form{
    position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #bdc3c7;
    color: #fff;
}

.cajas2{
    width: 80% !important;
    height: auto;
    position: absolute;
    top: 0;
    border-bottom: none !important;
    color: #fff;
}
input:focus{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.caja{
    margin-top: 0;
    margin-left: 35%;
    margin-bottom: 2%;
    border: solid 1px #bdc3c7;
    border-radius: 10px;
    width: 29%;
    height: 50px;
    position: relative;
}
.btn{
  margin: 20px 10px;
  }
.secNav,.secNav div nav,.secNav div nav{
    background-color: #0F1D2E;  
}
header{
    width: 100%;
    overflow: hidden;
}

a{
    font-weight: normal;
}
.secNav{
    position: relative;
    z-index: 2;
    position: fixed;
    width: 100%
}
.part1{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.ht1{
    position: relative;
    margin-top: -700px;
    z-index: -1;
    margin-bottom: -10px;
}
.part1a{
    position: relative;
    z-index: 1;
}
.DAECA1{
    margin-top: 50px;
    margin-right:50px;
}
.DAECA1 img{
    width: 249px;
    margin-top: 35px;   
}
.DAECA2{
    margin-top:450px;
    margin-left: 20px;
}
.DAECA2 h2{
    font-size: 60px;
    color: white;
    font-weight: 500
}
.DAECA2 h3{
    font-size: 30px;
    color: white;
}

.part2{
    background-color: #0F1D2E;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1130px;
    z-index: 1;
}
.cuadro{
    width: 700px;
    height: 700px;
    background-color: #0F1D2E;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: 14.5%;
}
.cuadro2{
    width: 675px;
    height: 675px;
    background-color: white;
    position: absolute;
    margin: 12px;
    overflow: hidden;
}
.cuadro2 img{
    margin-left: -530px;
    transform: rotate(-45deg);
    max-width: 215%;
}
.part2a{
    position: relative;
    width: 49.5%;
    height: 560px;
    overflow: hidden;
}
 .sep{
    margin-top: 20px;
}
.textPart2{
    position: absolute;
    z-index: 1;
    font-size: 35px;
    color: white;
    margin-top: 50px;
    margin-right: 20px;
}




.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.im1{
    position: relative;
    z-index: -1;
    margin-top: -750px;
    transform: rotatey(540deg);
    padding: 0 !important;
}
p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
h2{
    font-size: 70px;
    font-weight: 500;
    color: white;
}
.secNav center{
    float: left;
}
.logo-DAECA{
    height: 64px;
    width: 189px;
    position: absolute;
}

.cajas{
    width: 80% !important;
    height: auto;
    position: absolute;
    top: 0;
    border-bottom: none !important;
    color: #fff;
}
input:focus{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.div-cajas{
    margin-top: 0;
    margin-left: 35%;
    margin-bottom: 2%;
    border: solid 1px #bdc3c7;
    border-radius: 10px;
    width: 29%;
    height: 50px;
    position: relative;
}
.iconos-form{
    position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #bdc3c7;
    color: #fff;
}
.btn1 .waves-effect{
    width: 100px;
    margin-left:36%; 
    margin-bottom: 1%;
    border-right: solid 1px #bdc3c7;
    border-radius: 10px;
    float: left;
}
.btn2 .waves-effect{
    width: 100px;
    margin-left: 1%;
    border-right: solid 1px #bdc3c7;
    border-radius: 10px;
}
.btn3 .waves-effect{
    width: 100px;
    margin-top: -35px;
    margin-left: 10%;
    border-right: solid 1px #bdc3c7;
    border-radius: 10px;
    float: left;
}
.browser-default{
    width: 29%;
    border: solid 2px #bdc3c7;
    border-radius: 10px;
    margin-left: 35%;
    margin-bottom: 4%;
    background-color: #273c75;
    color: #fff;
}
.a1{
    border-radius: 50%;
}





/*pc grande*/
@media only screen and (min-width:1200px){
    .secNav div nav ul li a{
        padding: 0 35px;
        transition-delay: 0;
        transition-duration: .3s;
        transition-property: all;
    }
    .secNav div nav ul li a:hover,.activo{
        background-color: white;
        color: #0F1D2E;    
    }
    .separador{
        position: relative;
        width: 100%;
        height: 40px;
        background-color: #0F1D2E;
    }
}




/*pc pequeña*/
@media only screen and (min-width:992px)and (max-width:1199px){
    .secNav div nav ul li a{
        padding: 0 35px;
        transition-delay: 0;
        transition-duration: .3s;
        transition-property: all;
    }
    .secNav div nav ul li a:hover{
        background-color: white;
        color: #0F1D2E;    
    }
    .separador{
        position: relative;
        width: 100%;
        height: 20px;
        background-color: #0F1D2E;
    }

}

/*tablet*/
@media only screen and (min-width:600px) and (max-width:992px){

   
}

/*moviles*/
@media only screen and (max-width:600px){

}
