@import url('https://fonts.googleapis.com/css?family=Palanquin');
@import url('https://fonts.googleapis.com/css?family=Lobster');
*{
    margin: 0;
    padding: 0;
   font-family: 'Palanquin', sans-serif;
}
nav .nav-wrapper{
    background-color: #0F1D2E;
    position: relative;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.logo-DAECA{
 float: right;
 position: absolute;
}

.slider .slides{
    position: relative;
    width: 100%;
    height: 540px !important;
   
}
.slider .slides li img{
    position: relative;

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.slider {
    position: relative;
    height: 400px;
    width: 100%;
    z-index: 1;
    animation-duration: 1.5s;
}
.arrowright i, .arrowleft i{
    color: rgb(255, 255, 255);
}   
.arrowright, .arrowleft{
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: all .3s linear;
}

.indicators{
    z-index: 2;
    color: #0F1D2E;
}

.arrowleft{
    left: 80px;
    top: -15%;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    z-index: 2;
    transform: translateX(-80px);
} 
.arrowright{
    right: 80px;
    top: -15%;
    bottom: 0;
    margin: auto 0;
    opacity: 0;
    z-index: 2;
    transform: translateX(80px);
    
}   
.slider:hover .arrowright, .slider:hover .arrowleft{
    opacity: 1;
    transform: translateX(0);
    
}

.habitaciones{
    background-color: #0F1D2E;
    width: 100%;
    height: 700%;
}
.habitaciones h1{
    font-family: 'Lobster', cursive;
    color: rgb(161, 119, 10);
    font-size: 60px;
    text-align: center;
  

}
.habitaciones p{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.726);
    font-size: 19px;
    text-align: justify;
}
.servicios-iconos{
    background-color: #0F1D2E;
}

.img-iconos li .responsive-img{
    width:8%;
    float: left;
    margin-top: 10%;
    margin-left:  5%;
    margin-right: -9%;
    display: flex;
  
}
.letra{
    float: left;
    font-family: 'Palanquin', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 0%;
    margin-right: 5.4%;
    margin-top: 20%;
    margin-bottom: 10%;
}



.Habitaciones2{
    background-color: #0F1D2E;
    width: auto;
    height: auto;
    margin-top: -21px;
    position: relative
}
.container1{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: inline-block;
    }
.container1 .responsive-img, .container2 .responsive-img, .container3 .responsive-img, .container4 .responsive-img{
        margin-top: 20px;
        width: 800px;
       height: 400px;
       border: 3px solid white;
    }

.container2{
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.664);
}
.container3{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.664);
}
.container4{
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.664);
}


.Habitaciones2 .container .article1{
    width: 100%;
    height: auto;
    display: inline-block;
}

 .article1 .t1{
    font-family: 'Lobster', cursive;
    color: rgb(161, 119, 10);
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 40px;
}
 .article1  .t2{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 18px;
    margin-right: 20px;
    margin-top: 45px;
    font-weight: bold;
}
.article1 .t3{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 14px;
    margin-right: 20px;
    

}
.article1 p{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 15px;
    text-align: right;
    padding: 20px;
}
.article1 a{
    width: 127px;
    height: 33px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.664);
    margin-right: 20px;
    padding: 3px;
}
.Habitaciones2 .container .article2{
    width: 100%;
    height: auto;
    display: inline-block;
}
.article1 p{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 15px;
    text-align: right;
    padding: 20px;
}
.article1 a{
    width: 127px;
    height: 33px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.664);
    margin-right: 20px;
    padding: 3px;
    margin-top: 0px;
}
.Habitaciones2 .container .article2{
    width: 100%;
    height: auto;
    display: inline-block;
}

.Habitaciones2 .cont{
    margin-bottom: 25px;
}

 .article2 .ti1{
    font-family: 'Lobster', cursive;
    color: rgb(161, 119, 10);
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 40px;
}
 .article2  .ti2{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 18px;
    margin-left: 20px;
    margin-top: 45px;
    font-weight: bold;
}
.article2 .ti3{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 14px;
    margin-left: 20px;
    
}
.article2 p{
    font-family: 'Palanquin', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 15px;
    text-align: left;
    padding: 20px;
}
.article2 a{
    width: 127px;
    height: 33px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.664);
    margin-left: 20px;
    padding: 3px;
}
.iconr{
    width: 232px;
    height: 200px;
    text-align: center;
    position: relative;
    right: 50px;
}
.iconr .responsive-img{
    width: 40%;
}
.iconr .trese{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Palanquin', sans-serif;
}
/*pc grande*/
@media only screen and (min-width:1200px){
    .Container{ 
        Width:70%;
    }

}




/*pc pequeña*/
@media only screen and (min-width:992px)and (max-width:1199px){
    .Container{ 
        Width:70%;
    }
}

/*tablet*/
@media only screen and (min-width:600px) and (max-width:992px){
    .Container{ 
        Width:85%;
    }
   
    .logo-DAECA {
        height: 63px;
        width: 146px;
      
    }
    
    .habitaciones h1{
        font-size: 25px;
    }
    .habitaciones p{
        font-size: 20px;
       margin-left: 1%;
       margin-right: 1%;
    }
    
    .img-iconos li .responsive-img{
        width: 9%;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 2%;
       
    }
    
    .letra{
        font-size: 12px;
        margin-left: -12%;
        margin-right: 3%;
        margin-top: 27%;
        margin-bottom: 8%;
        text-align: center;
    }
    .article1 .t1{
        font-size: 7.93mm;  
        font-weight: bold;
    }
    }
    
    


/*moviles*/
@media only screen and (max-width:600px){
.Container{ 
    Width:90%;
}
.logo-DAECA {
    height: 56px;
    width: 136px;
    
}

.habitaciones h1{
    font-size: 22px;
}
.habitaciones p{
   font-size: 18px;
   margin-left: 1%;
   margin-right: 1%;
}

.img-iconos li .responsive-img{
    width: 15%;
    float: left;
    margin-top: 10%;
    margin-left: 11%;
    margin-right: 0%;
  
}
.letra{
    font-weight: bold;
    font-size: 100%;
    margin-left: -15%;
    margin-right: 1%;
    margin-top: 27%;
    margin-bottom: 0%;
    display: block;
}
.article1 .t1{
    font-size: 7.93mm;  
    font-weight: bold;
}

}
