@import url('https://fonts.googleapis.com/css?family=Palanquin');
@import url('https://fonts.googleapis.com/css?family=Lobster');
*{
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
}
body{
    background-color: #0F1D2E;
}

.servicio .row{
    padding-bottom: 62px;
    margin-bottom: 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.651);
}
section:nth-child(9).servicio .row{
border-bottom: none;
}

.img1{
    margin-top: 109px;
    overflow: hidden;
}
.img1 img{
    width: 100%; 
    transform: scale(1);
    transition-duration: 0.5s;
    transition-delay: .1s;
    overflow: hidden;
}
.img1:hover img{
    transform: scale(1.2);
    overflow: hidden;
  }
.content{
    margin-top: 80px;
}
h1{
    width: 100%;
    color: rgb(161, 119, 10);
    font-family: 'lobster', cursive;
    text-align: center;
    font-size: 50px;
}
p{
    color: white;
    text-align: justify; 
}


@media only screen and (max-width: 601px){
    
}


@media only screen and (max-width: 992px){
    .img1 img{
        margin-top: 74px;
    }
}


